.svg {
  position: absolute;
}

@media (max-width: 82.5em) {
  .svg {
    transform: rotate(90deg);
    top: 10%;
    right: -80%;
    width: 200rem;
    height: 150rem;
  }
}

@media (max-width: 46em) {
  .svg {
    width: 160rem;
    height: 80rem;
    top: 25%;
    right: -110%;
  }
}

@media (max-width: 31.9em) {
  .svg {
    width: 160rem;
    height: 80rem;
    top: 25%;
    right: -150%;
  }
}
