.container {
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #212529;
  width: 100rem;
  height: 40rem;
  border: solid 1rem #000;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

@media (max-width: 59.4em) {
  .container {
    grid-template-columns: 1fr;
    width: 60rem;
    height: 80rem;
  }
}

@media (max-width: 31.9em) {
  .container {
    padding: 0;
    width: 38rem;
    height: 62rem;
  }
} ;
