.container {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 30%;
  right: -5%;
  transform: rotate(90deg);
  /* -webkit-box-align: center; */
}
.email {
  /* position: relative; */
  color: #212529;
  font-size: 1.6rem;
  font-weight: 500;
  margin-right: 2rem;
}

.email::after {
  position: absolute;
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  background-color: #212529;
  margin: 0px auto;
  transform: rotate(90deg);
  right: -4.2rem;
  bottom: -3.6rem;
}

@media (max-width: 68.75em) {
  .email {
    display: none;
  }
} ;
