.ref {
  z-index: 2;
}

.tilt {
  backdrop-filter: blur(3px);
  width: 25rem;
  height: 35rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  height: 35rem;
  background-color: rgba(33, 37, 41, 0.6);
  backdrop-filter: blur(3px);

  border-top: solid 0.1rem rgba(33, 37, 41, 0.8);
  border-left: solid 0.1rem rgba(33, 37, 41, 0.8);

  padding: 1.6rem;
  transition: 0.3s ease;
  z-index: 2;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.5);
}

@media (max-width: 82.5em) {
  .tilt {
    justify-self: center;
  }
}
