.project-text,
.project-inverse {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  width: 100%;
  height: 100%;
}

.btn-box {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 81.25em) {
  .project-inverse {
    grid-row: 3/4;
  }
}

@media (max-width: 79em) {
  .project-text,
  .project-inverse {
    font-size: 1.6rem;
  }
}

@media (max-width: 38.13em) {
  .project-text,
  .project-inverse {
    font-size: 1.4rem;
  }
}

@media (max-width: 24em) {
  .project-text,
  .project-inverse {
    font-size: 1rem;
  }
}
